body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #60bee3;
}

.container {
    background: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 0 100px rgba(31, 166, 229, 0.2);
    text-align: center;
}

h1 {
    color: #e63946;
    margin-bottom: 20px;
    font-weight: bold;
    font-style: Cantarell Extra Bold;
    transition: box-shadow 0.3s;
}

/* Hover effect for h1 removed */
/* h1:hover {
    box-shadow: 0 0 20px rgba(230, 57, 70, 0.8); // Red glow effect
} */

form {
    margin-bottom: 20px;
}

input { 
    width: calc(50% - 20px);
    padding: 15px;
    margin: 10px;
    border: 2px solid #e63946;
    border-radius: 16px;
    font-size: 16px;
    transition: transform 0.3s, box-shadow 0.3s;
}

input:focus {
    outline: none;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(230, 57, 70, 0.8); /* Red glow effect */
}

button {
    width: 60%;
    padding: 13px;
    background-color: #e6236e;
    color: white;
    border: none;
    border-radius: 16px;
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 30px;
}

button:hover {
    background-color: #b22222;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(178, 34, 34, 0.8); /* Dark red glow effect */
}

.result {
    margin-top: 20px;
    font-size: 1.5em;
    color: #f80d50;
    font-style: Cantarell Extra Bold;
}
